.backroundimagehome {
    background-image: url(images/backround-image.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #a8c992;
}

html {
    scroll-behavior: smooth;
}
/* navigatie bar */

nav {
    display: flex;
    justify-content: center;
}

il {
    padding-right: 2em;
}

a { 
    color: white;
    text-decoration: none;
}

a:hover {
    color:  #587644
}

a:active { 
    color:  #587644
}

a:focus {
    color:  #587644 
}

/* homepagina */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    color: white;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    text-align: center;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

.homepage-1 {
    padding-top: 1000px;
    display: flex;
    padding-left: 10em;
    padding-right: 10em;
    gap: 3em;
}

.homepage-1 img {
    width: 500px;
    height: 500px;
}

.homepage-1 h2 {
    padding-top: 100px;
}

.meerinfoknop {
    background: white;
    padding: 0.5em;
    border-radius: 0.2em;
    border-radius: solid;
}

.homepage-2 { 
    padding-top: 20px;
    text-align: center;
    padding-bottom: 30px;
}

.homepage-image {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-top: 20px;
    padding-bottom: 50px;
}

.matcha {
    text-decoration: underline;
}

/* hover image */

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif; 
  padding: 16px 32px;
}

.homepage-3 {
    text-align: center;
    padding-bottom: 30;
}

.homepage-images {
    padding-top: 20px;
    gap: 1.5em;
    text-align: center;
    padding-left: 12em;
    padding-right: 12em;
    padding-bottom: 80px
}

/* pagina 2 */

.backroundimagepagina2 {
    background-image: url(images/backroundimage2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #a8c992;
}

.pagina2 {
    padding-top: 950px;
    text-align: center;
    padding-right: 11em;
    padding-left: 11em;
}

.watismatcha {
    display: flex;
    gap: 3em; 
    padding-bottom: 4em;
}

.watismatcha img {
    width: 200px;
    height: 200px;    
}

/* pagina 3 */

.backroundimagepagina3 {
    background-image: url(images/backroundimage3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #a8c992;
}

.pagina3 {
    padding-top: 950px;
}

.verschillendesoortenmatcha {
    display: flex;
    padding-left: 10em;
    padding-right: 10em;
    gap: 3em; 
    padding-top: 100px;
}

.verschillendesoortenmatcha img {
    width: 350px;
    height: 350px;
}

/* pagina 4 */

.backroundimagepagina4 {
    background-image: url(images/backroundimage4.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #a8c992;
}

.bestematchainamsterdam {
    padding-top: 950px;
}

.bestematcha {   
    display: flex;
    text-align: center;
    gap: 3em;
    padding-left: 7em;
    padding-right: 7em;
    padding-top: 100px;
}

.bestematcha img {
    width: 200px;
    height: 200px;     
}

